<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-car__image">
            <img 
                src="https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg" 
                alt="" 
                height="150px" 
                width="150px" 
                srcset="">
        </div>
        <div class="small-car__title">
            <h1><a href="#">Aqui vai o título</a></h1>
        </div>
    </div>
    
    <div class="container__small-card__separator">
        <hr/>
    </div>
</div>


