<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card 
      photoCover="https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg" cardTitle="Curabitur faucibus" cardDescription="Vivamus augue felis, mollis vitae ante et, placerat sollicitudin ligula. Fusce id enim molestie, varius odio quis, faucibus est. In lectus risus, venenatis vel massa fringilla, sagittis ullamcorper metus."
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg"
      cardTitle="Phasellus convallis"
      >
    </app-small-card>
    <app-small-card
      photoCover="https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg"
      cardTitle="Vivamus tincidunt"
      >
    </app-small-card>
    <app-small-card
      photoCover="https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg"
      cardTitle="Nulla facilisi"
      >
    </app-small-card>
  </div>
</div>
